@import './base.css';

#app {
  max-width: 1280px;
  margin: 0 auto;
  font-weight: normal;
  /* height: 100vh; */
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
}
#app {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
